# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database


# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Gemini/IDE
.gemini/
.vscode/
.idea/

# Backend static
app/static/node_modules/
