# Environment variables


# Python
__pycache__/
*.py[cod]
*$py.class


# Database
data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Gemini/IDE
.gemini/
.vscode/
.idea/

# Backend static
app/static/node_modules/
